## Loops and Functions Practice

In this notebook, you'll get some additional practice working with loops and functions for importing, cleaning, and visualizing data.

### Warmup Questions
## Loops

Recall that a loop can be used whenever you are repeating the same operation multiple times.

For example,

In [1]:
print('a')
print('b')
print('c')
print('d')

a
b
c
d

In [2]:
for n in ['a','b','c','d']:          # indent means you're inside the loop
    print(n)

a
b
c
d

In [3]:
n           # the reason why it's 'd' is because it's the last one in the loop

'd'

can be rewritten to accomplish the same outcome. We just need to recognize that the repeated code is the `print` function and the part that changes is the argument value.

In [4]:
for letter in ['a','b','c','d']:
    print(letter)

a
b
c
d

Recall also that `range` can be helpful when writing for loops if you want to iterate through a set of consecutive numbers.

In [5]:
range(10)

range(0, 10)

In [6]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
list(range(0,10,1))            # this is the default argument,which is why you dont need to put the 0 or the 1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [13]:
list(range(0,10,3))

[0, 3, 6, 9]

In [14]:
list(range(0,20,5))

[0, 5, 10, 15]

In [15]:
print(list(range(0,12,2)))

[0, 2, 4, 6, 8, 10]

In [16]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [18]:
for number in range(1,10,2):
    print(number)

1
3
5
7
9

In [19]:
number

9

**Your Turn:** Write a for loop that prints out the squares of the numbers 1 through 10.

In [20]:
for square in range(1,11):
    print(square, square * square, square**2)

1 1 1
2 4 4
3 9 9
4 16 16
5 25 25
6 36 36
7 49 49
8 64 64
9 81 81
10 100 100

Now, modify your code so that it prints out the squares of the even integers between 1 and 10. 

**Hint:** You can do this either by using conditional logic (if statements) or you might find a different way if you check out the parameters of the range function (https://www.w3schools.com/python/ref_func_range.asp).

In [21]:
for even in range(1,11,2):     #this is WRONG
    print(even**2)             # remember, the 2 at the end tells you it'd skip a number and pick the next.

1
9
25
49
81

In [22]:
for even in range(2,11,2):     #this is RIGHT 
    print(even**2)             # since the 2 at the end skips a number, you have to decide when to start the count.

4
16
36
64
100

In [23]:
# for even in range(2,11):
#     if even%2 ==0:
#     print(even**2)             # dont forget to indent the print for it to run properly

In [24]:
for even in range(2,11):
    if even%2 ==0:
        print(even**2)

4
16
36
64
100

In [25]:
for even in range(2,11):
    
    if even%2 ==0:
        n = 'true'
       # print(even**2) 
    else:
        print(even)

3
5
7
9

In [26]:
for even in range(2,11):
    
    if even%2 ==0:
        print({even}, 'these are TRUE')
    else:
        print({even}, 'these are FALSE')

{2} these are TRUE
{3} these are FALSE
{4} these are TRUE
{5} these are FALSE
{6} these are TRUE
{7} these are FALSE
{8} these are TRUE
{9} these are FALSE
{10} these are TRUE

In [27]:
for even in range(2,11):
    
    if even%2 ==0:
        print(f'{even}, these are TRUE')
    else:
        print(f'{even}, these are FALSE')

2, these are TRUE
3, these are FALSE
4, these are TRUE
5, these are FALSE
6, these are TRUE
7, these are FALSE
8, these are TRUE
9, these are FALSE
10, these are TRUE

In [28]:
for even in [4,5,6]:
    print(even)
    
    if even%2 ==0:
        print(f'{even}, these are TRUE')
    else:
        print(f'{even}, these are FALSE')

4
4, these are TRUE
5
5, these are FALSE
6
6, these are TRUE

In [29]:
for even in [4,5,6]:
    print(even)
    
    if even%2 ==0:
        print(f'{even}, these are TRUE')
    else:
        print(f'{even}, these are FALSE')

4
4, these are TRUE
5
5, these are FALSE
6
6, these are TRUE

In [30]:
for n in [4,5,6]:
    print(n)

4
5
6

In [31]:
for n in [4,5,6]:
    print(n)
    if n == 4:
        print(n/2)

4
2.0
5
6

In [32]:
for n in [4,5,6]:
    print(n)
    if n == 4:
        print(n/2)
    elif n == 5:
        print(5*2)

4
2.0
5
10
6

In [33]:
for n in [4,5,6]:
    print(n)
    if n == 4:
        print(n/2)
    elif n == 5:
        print(n*2)
    elif n == 6:
        print(n-3)

4
2.0
5
10
6
3

In [34]:
for n in [4,5,6]:
    print(n)
    
    if n == 4:
        print(n/2)
    elif n == 5:
        print(n*2)
    elif n == 6:
        print(n-3)
        
    print('END OF LOOP')

4
2.0
END OF LOOP
5
10
END OF LOOP
6
3
END OF LOOP

In [35]:
for n in [4,5,6]:
    print(n)
    if n == 4:
        print(n/2)
        print('END OF LOOP', '\n\n')
    elif n == 5:
        print(n*2)
    elif n == 6:
        print(n-3)

4
2.0
END OF LOOP


5
10
6
3

In [36]:
for n in [4,5,6]:
    print(n)
    
    if n == 4:
        print(n/2)
    elif n == 5:
        print(n*2)
    elif n == 6:
        print(n-3)
        
    print('END OF LOOP', '\n\n')

4
2.0
END OF LOOP


5
10
END OF LOOP


6
3
END OF LOOP

In [37]:
for n in [4,5,6,7]:
    print(n)
    
    if n == 4:
        print(n/2)
    elif n == 5:
        print(n*2)
    elif n == 6:
        print(n-3)
    else:                           # this will grab everything else that's left over, such as 7.
        print(n)
        
    print('END OF LOOP', '\n\n')

4
2.0
END OF LOOP


5
10
END OF LOOP


6
3
END OF LOOP


7
7
END OF LOOP

In [38]:
for n in [4]:
    print(n)
    
    if n == 4:
        print(n/2)
    elif n == 4:
        print(n*2)
    elif n == 6:
        print(n-3)
        
    print('END OF LOOP', '\n\n')

4
2.0
END OF LOOP

In [39]:
for n in [4]:
    print(n)
    
    if n == 4:
        print(n/2)
    if n == 4:
        print(n*2)
    elif n == 6:
        print(n-3)
        
    print('END OF LOOP', '\n\n')

4
2.0
8
END OF LOOP

In [40]:
for n in [4,5,6]:
    print(n)
    if n == 6:
        print(f'this is number {n}')
    else:
        print(n)
        
    print('END OF LOOP', '\n\n')

4
4
END OF LOOP


5
5
END OF LOOP


6
this is number 6
END OF LOOP

### The Accumulator Pattern

Often when working with loops, you will want to capture the results of each iteration. This is usually done by either using a numeric accumulator or a container like a list to hold the intermediate results.

For example, if we wanted to sum the first 100 positive integers we could do this using the accumulator pattern.

In [41]:
total_sum = 0
for n in range(1,3):
    total_sum += n

In [42]:
total_sum

3

In [43]:
total_sum = 1
for n in range(1,3):
    total_sum += n

In [44]:
total_sum

4

In [45]:
total_sum = 0
for number in range(1, 101):
    total_sum += number
    
print(f'The total sum is {total_sum}')

The total sum is 5050

Or, we might want to do a calculation and store the results:

In [46]:
squares = []            # this means the list is empty.
for number in range(1, 10):
    squares.append(number**2)

In [47]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81]

**Your Turn:** Find the sum of the squares of all even integers between 2 and 1000.

In [48]:
squares = []
for even_integers in range(2,1001,2):
    squared = even_integers**2
    squares.append(squared)
sum_squares = sum(squares)

In [49]:
squares

[4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304,
 2500,
 2704,
 2916,
 3136,
 3364,
 3600,
 3844,
 4096,
 4356,
 4624,
 4900,
 5184,
 5476,
 5776,
 6084,
 6400,
 6724,
 7056,
 7396,
 7744,
 8100,
 8464,
 8836,
 9216,
 9604,
 10000,
 10404,
 10816,
 11236,
 11664,
 12100,
 12544,
 12996,
 13456,
 13924,
 14400,
 14884,
 15376,
 15876,
 16384,
 16900,
 17424,
 17956,
 18496,
 19044,
 19600,
 20164,
 20736,
 21316,
 21904,
 22500,
 23104,
 23716,
 24336,
 24964,
 25600,
 26244,
 26896,
 27556,
 28224,
 28900,
 29584,
 30276,
 30976,
 31684,
 32400,
 33124,
 33856,
 34596,
 35344,
 36100,
 36864,
 37636,
 38416,
 39204,
 40000,
 40804,
 41616,
 42436,
 43264,
 44100,
 44944,
 45796,
 46656,
 47524,
 48400,
 49284,
 50176,
 51076,
 51984,
 52900,
 53824,
 54756,
 55696,
 56644,
 57600,
 58564,
 59536,
 60516,
 61504,
 62500,
 63504,
 64516,
 65536,
 66564,
 67600,
 68644,
 69696,
 70756,
 71824,
 72900,
 73984,
 75076,
 76176,
 77284,
 78400,
 79524,
 80656,
 81796,
 82944,
 84100,
 85264,
 86436,
 87616,
 88804,
 90000,
 91204,
 92416,
 93636,
 94864,
 96100,
 97344,
 98596,
 99856,
 101124,
 102400,
 103684,
 104976,
 106276,
 107584,
 108900,
 110224,
 111556,
 112896,
 114244,
 115600,
 116964,
 118336,
 119716,
 121104,
 122500,
 123904,
 125316,
 126736,
 128164,
 129600,
 131044,
 132496,
 133956,
 135424,
 136900,
 138384,
 139876,
 141376,
 142884,
 144400,
 145924,
 147456,
 148996,
 150544,
 152100,
 153664,
 155236,
 156816,
 158404,
 160000,
 161604,
 163216,
 164836,
 166464,
 168100,
 169744,
 171396,
 173056,
 174724,
 176400,
 178084,
 179776,
 181476,
 183184,
 184900,
 186624,
 188356,
 190096,
 191844,
 193600,
 195364,
 197136,
 198916,
 200704,
 202500,
 204304,
 206116,
 207936,
 209764,
 211600,
 213444,
 215296,
 217156,
 219024,
 220900,
 222784,
 224676,
 226576,
 228484,
 230400,
 232324,
 234256,
 236196,
 238144,
 240100,
 242064,
 244036,
 246016,
 248004,
 250000,
 252004,
 254016,
 256036,
 258064,
 260100,
 262144,
 264196,
 266256,
 268324,
 270400,
 272484,
 274576,
 276676,
 278784,
 280900,
 283024,
 285156,
 287296,
 289444,
 291600,
 293764,
 295936,
 298116,
 300304,
 302500,
 304704,
 306916,
 309136,
 311364,
 313600,
 315844,
 318096,
 320356,
 322624,
 324900,
 327184,
 329476,
 331776,
 334084,
 336400,
 338724,
 341056,
 343396,
 345744,
 348100,
 350464,
 352836,
 355216,
 357604,
 360000,
 362404,
 364816,
 367236,
 369664,
 372100,
 374544,
 376996,
 379456,
 381924,
 384400,
 386884,
 389376,
 391876,
 394384,
 396900,
 399424,
 401956,
 404496,
 407044,
 409600,
 412164,
 414736,
 417316,
 419904,
 422500,
 425104,
 427716,
 430336,
 432964,
 435600,
 438244,
 440896,
 443556,
 446224,
 448900,
 451584,
 454276,
 456976,
 459684,
 462400,
 465124,
 467856,
 470596,
 473344,
 476100,
 478864,
 481636,
 484416,
 487204,
 490000,
 492804,
 495616,
 498436,
 501264,
 504100,
 506944,
 509796,
 512656,
 515524,
 518400,
 521284,
 524176,
 527076,
 529984,
 532900,
 535824,
 538756,
 541696,
 544644,
 547600,
 550564,
 553536,
 556516,
 559504,
 562500,
 565504,
 568516,
 571536,
 574564,
 577600,
 580644,
 583696,
 586756,
 589824,
 592900,
 595984,
 599076,
 602176,
 605284,
 608400,
 611524,
 614656,
 617796,
 620944,
 624100,
 627264,
 630436,
 633616,
 636804,
 640000,
 643204,
 646416,
 649636,
 652864,
 656100,
 659344,
 662596,
 665856,
 669124,
 672400,
 675684,
 678976,
 682276,
 685584,
 688900,
 692224,
 695556,
 698896,
 702244,
 705600,
 708964,
 712336,
 715716,
 719104,
 722500,
 725904,
 729316,
 732736,
 736164,
 739600,
 743044,
 746496,
 749956,
 753424,
 756900,
 760384,
 763876,
 767376,
 770884,
 774400,
 777924,
 781456,
 784996,
 788544,
 792100,
 795664,
 799236,
 802816,
 806404,
 810000,
 813604,
 817216,
 820836,
 824464,
 828100,
 831744,
 835396,
 839056,
 842724,
 846400,
 850084,
 853776,
 857476,
 861184,
 864900,
 868624,
 872356,
 876096,
 879844,
 883600,
 887364,
 891136,
 894916,
 898704,
 902500,
 906304,
 910116,
 913936,
 917764,
 921600,
 925444,
 929296,
 933156,
 937024,
 940900,
 944784,
 948676,
 952576,
 956484,
 960400,
 964324,
 968256,
 972196,
 976144,
 980100,
 984064,
 988036,
 992016,
 996004,
 1000000]

In [50]:
sum_squares

167167000

## Functions

When you find yourself repeating the same or very similar code, it could signal that you need a for loop or that you should rewrite your code as a function that can be reused.

Some advantages of using functions are that you don't have to worry about making copy/paste errors and that if you realize that you need to change the logic of your code, you need only update it in one location.

Components of most functions:
* `def` followed by the name of the function
* A set of parentheses and the list of function parameters.
* A body that defines what to do with the inputs.
* A return statement that indicates what the function outputs.

For example, if we want to calculate the square of a number, we could write a very basic function to accomplish this:

In [51]:
def square_number(x):
    return x**2

Once our function is defined, we can call it and pass in inputs:

In [52]:
square_number(10)

100

In [53]:
square_number(-4)

16

Our function can also include more complex logic and multiple return statements:

In [54]:
def absolute_value(x):
    if x >= 0:
        return x
    else:
        return -x

In [55]:
absolute_value(2)

2

In [56]:
absolute_value(-6)

6

**Your Turn:** Write a function named `collatz` that will take as input a number. If that number is even, your function should divide it by two and return the result. If the number is odd, it should triple the number and add one and then return the result.

**Hint:** If you want to check if a number is even, you can use the modulus operator. See, for example, https://discuss.codecademy.com/t/how-can-i-check-if-a-number-is-odd/339354.

In [57]:
def collatz(n):
    if n % 2 == 0:
        return n/2
    else:
        return (n * 3)+1

In [58]:
collatz(4)

2.0

In [59]:
collatz(3)

10

### Intermediate Questions

For these questions, you'll be working with data from the Lahman baseball database. In order to get this data into Python, we are going to write a query and execute it using the sqlalchemy library.

In [60]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine, text

In [61]:
database_name = 'lahman'    # Fill this in with your lahman database name
connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"
engine = create_engine(connection_string)

In [62]:
query = """
SELECT *
FROM teams
"""

teams = pd.read_sql(text(query), con = engine)
teams.head()

,yearid,lgid,teamid,franchid,divid,rank,g,ghome,w,l,...,dp,fp,name,park,attendance,bpf,ppf,teamidbr,teamidlahman45,teamidretro
0,1871,NA,BS1,BNA,None,3,31,NaN,20,10,...,NaN,0.838,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871,NA,CH1,CNA,None,2,28,NaN,19,9,...,NaN,0.829,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871,NA,CL1,CFC,None,8,29,NaN,10,19,...,NaN,0.814,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,1871,NA,FW1,KEK,None,7,19,NaN,7,12,...,NaN,0.803,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,1871,NA,NY2,NNA,None,5,33,NaN,16,17,...,NaN,0.839,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2

Now, you're going to write a series of functions to work with this team data. Note that you can write and execute a SQL query using `read_sql` if you want to check that you're getting the correct results. 

Write a function `get_teams` that will take as input a year and which returns the team stats (from the teams table) for the input year.

In [63]:
def get_teams(year):
    year.append

Now, write a function `get_best_teams` that will take as input a `year`, a number `n` (which should default to 5) and a parameter `stat` (which should default to wins "w") and which will return the n teams with the largest value for the selected statistic.

Calling `get_best_teams(year = 2014, n = 3)` should return the Los Angeles Angels, the Baltimore Orioles, and the Washington Nationals.

In [64]:
# Your Code Here

Now, modify `get_best_teams` by adding a parameter `ascending` so that you can choose to return either the top or the bottom teams in terms of the selected stat.

Calling `get_best_teams(year=2014, n=3, stat="era", ascending=True)` should return the Washington Nationals, the Seattle Mariners, and the Oakland Athletics.

In [65]:
# Your Code Here

Now, modify `get_best_teams` so that you can choose to return just the best teams from one league or the other (using the `lgid` column), but by default does not filter based on league. Do this by adding a `league` parameter with default value of "both".

Calling `get_best_teams(year=2014, n=3, league="AL", ascending = True)` should return the Texas Rangers, the Houston Astros, and the Minnesota Twins.

In [66]:
# Your Code Here

Now, make a function `plot_best_teams` which takes the same parameters as `get_best_teams` but which creates a bar chart displaying the best teams for the selected stats.

Make sure that your plot has a title and is labeled.

In [67]:
# Your Code Here

Add a `filepath` parameter to `plot_best_teams` which defaults to `None`. If a filepath is given, the function should save the resulting plot to the input filepath. **Hint:** You'll need to use the [`savefig` function](https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.savefig.html).

In [68]:
# Your Code Here

Finally, utilize a for loop to create an image for each year from 2000 through 2010 which shows the top 10 teams in terms of number of wins. These images should be saved into an `images` folder which appropriate filenames.

In [69]:
# Your Code Here

### Challenge Questions

If you're able to solve the previous questions, you can give these advanced questions a try.

The [Tennessee Department of Health](https://www.tn.gov/health/health-program-areas/statistics/health-data/death-statistics.html) published data on number of deaths by cause broken down by county.

Start with the data contained in `TN Deaths Malignant Neoplasms - 2018.xlsx`.

If you inspect the file, you'll see that the data is divided up into two tables.

First, let's see how we can read in the lefthand table. We can use the `read_excel` function and point it to columns A - G.

In [70]:
neoplasms = pd.read_excel(
    '../data/TN Deaths Malignant Neoplasms - 2018.xlsx',
    header=4,
    usecols='A:G'
)

In [71]:
neoplasms

,COUNTY,NUMBER,RATE,NUMBER.1,RATE.1,NUMBER.2,RATE.2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,STATE,14139.0,208.8,12058.0,226.9,1973,170.7
2,ANDERSON,187.0,244.5,179.0,255.3,8,*
3,BEDFORD,111.0,226.3,99.0,232.0,10,*
4,BENTON,71.0,438.7,69.0,449.9,2,*
5,BLEDSOE,30.0,203.2,29.0,216.9,1,*
6,BLOUNT,305.0,232.2,297.0,241.0,7,*
7,BRADLEY,227.0,212.7,221.0,227.8,5,89.9
8,CAMPBELL,107.0,270.3,105.0,272.2,2,*
9,CANNON,47.0,324.7,45.0,325.0,2,*
10,CARROLL,96.0,342.6,93.0,382.7,3,*
11,CARTER,143.0,253.8,141.0,259.7,2,*
12,CHEATHAM,83.0,205.2,78.0,202.5,2,*
13,CHESTER,33.0,191.0,31.0,205.6,1,*
14,CLAIBORNE,84.0,264.6,84.0,274.5,-,-
15,CLAY,17.0,219.9,17.0,228.5,-,-
16,COCKE,89.0,248.7,88.0,258.9,-,-
17,COFFEE,131.0,235.2,128.0,248.8,2,*
18,CROCKETT,42.0,293.3,35.0,296.3,7,*
19,CUMBERLAND,183.0,306.6,183.0,316.4,-,-
20,DAVIDSON,1078.0,155.6,763.0,168.7,295,153.9
21,DECATUR,34.0,290.4,34.0,306.5,-,-
22,DEKALB,48.0,238.4,47.0,246.0,1,*
23,DICKSON,138.0,258.2,128.0,258.2,9,*
24,DYER,84.0,225.1,76.0,246.3,7,131.1
25,FAYETTE,86.0,212.3,59.0,207.4,27,241
26,FENTRESS,55.0,302.0,55.0,308.9,-,-
27,FRANKLIN,93.0,222.0,90.0,235.0,3,*
28,GIBSON,129.0,263.0,102.0,261.3,27,304.9
29,GILES,64.0,216.9,57.0,223.5,7,*
30,GRAINGER,69.0,298.2,69.0,307.0,-,-
31,GREENE,192.0,277.9,188.0,284.9,4,*
32,GRUNDY,37.0,277.7,37.0,285.5,-,-
33,HAMBLEN,130.0,201.3,125.0,211.9,5,*
34,HAMILTON,725.0,199.0,580.0,209.7,137,193.5
35,HANCOCK,19.0,290.9,19.0,298.1,-,-
36,HARDEMAN,68.0,269.6,48.0,344.1,19,178.5
37,HARDIN,73.0,283.2,70.0,289.1,3,*
38,HAWKINS,147.0,260.1,142.0,260.6,4,*
39,HAYWOOD,56.0,323.0,28.0,341.7,28,318.1
40,HENDERSON,71.0,255.0,64.0,257.1,7,*
41,HENRY,106.0,327.5,95.0,327.7,10,*
42,HICKMAN,68.0,271.5,68.0,293.5,-,-
43,HOUSTON,30.0,362.8,30.0,386.2,-,-
44,HUMPHREYS,62.0,335.2,59.0,338.3,2,*
45,JACKSON,44.0,374.3,44.0,385.6,-,-
46,JEFFERSON,123.0,227.8,117.0,227.0,6,*
47,JOHNSON,70.0,393.8,70.0,410.8,-,-
48,KNOX,889.0,191.1,797.0,199.1,84,202.5
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,TOTAL MAY INCLUDE EVENTS WITH RACE OTHER THA...,NaN,NaN,NaN,NaN,NaN,NaN
51,* RATE IS NOT DISPLAYED ACCORDING TO THE ...,NaN,NaN,NaN,NaN,NaN,NaN
52,.. COUNT IS NOT DISPLAYED ACCORDING TO THE T...,NaN,NaN,NaN,NaN,NaN,NaN

Do the following steps to clean up the resulting dataframe:
* Remove the unneeded rows at the top and bottom
* Give the columns descriptive names
* Ensure that the numeric columns are numeric (and have NaNs where there were either *'s or -'s). **Hint:** You could use the pandas `to_numeric` function for this.

Once you have these steps figured out, create a function named `get_deaths_data` that takes as input a `filepath` and string of `usecols` and returns the resulting cleaned up dataframe.

In [72]:
# Your Code Here

Now, apply your function to both tables contained in the `TN Deaths Malignant Neoplasms - 2018.xlsx` sheet and concatenate the results together to get a single resulting dataframe.

In [73]:
# Your Code Here

We can get a list of all of the filenames contained in the data folder using the `glob` library:

In [74]:
import glob
filenames = glob.glob('../data/*.xlsx')

filenames

['../data\\TN Deaths Accidental Causes - 2018.xlsx',
 '../data\\TN Deaths Cerebrovascular Disease - 2018.xlsx',
 '../data\\TN Deaths Diabetes - 2018.xlsx',
 '../data\\TN Deaths Diseases of Heart - 2018.xlsx',
 '../data\\TN Deaths Malignant Neoplasms - 2018.xlsx']

Your final task is to create a dataframe which has one row per county and one column per cause of death. This column should have the total number of deaths for that cause.

In [75]:
# Your Code Here